.box{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80%;
    background-color: rgb(0, 255, 238);
    font-family: 'Jost', sans-serif;

}
.inputData{

}
.inputField{
    border-radius: 40px;

}
.info{

}
.location{

}
.temp{

}
.tempmin_max{

}
.wave{

}
.one{

}
.two{

}
.three{
    
}