.box{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80%;
    background-color: blue;
    font-family: 'Jost', sans-serif;

}
.inputData{

}
.inputField{
    border-radius: 40px;

}
.info{

}
.location{

}
.temp{

}